body {
    background-color: rgb(255, 250, 243);
    font-family: arial, sans-serif;
    margin: 40px;
    color: gray
}

h1 {
    background-color: rgb(19, 97, 97);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid gray;
}

th, td {
    border: 1px solid rgb(218, 218, 218);
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(236, 233, 233);
}

a {
    color: rgb(8, 36, 48);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}